.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
@media screen and (max-width: 768px) {
    .sm-flex-col {
        flex-direction: column !important;
    }
    
}

.g-5 {
    gap: 10px;
}